/* Variables */

:root {
    --black: #111;
    --blue: #0056af;
    --blue-light: #b9d2f3;
    --gray: #808080;
    --white: #fff;
}

/* Reset */
* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Eléments de base */
body {
    color: var(--black);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    padding: 100px 0 18px 0;
    text-align: center;
}

select,
button {
    border: 1px solid var(--gray);
}

button {
    padding: 2px 5px;
}

/* Classes de base */
.bold-blue {
    color: var(--blue);
    font-weight: 700;
}

.grow-item {
    flex-grow: 1;
}

.hidden {
    display: none;
}

.hidden-sort {
    color: transparent;
    padding: 8px;
}

.inner-text-style p:first-child {
    font-size: 18px;
}

.inner-text-style p:not(:first-child) {
    font-size: 18px;
    line-height: 26px;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.line-height-30 {
    line-height: 36px;
}

.padding-bottom-light {
    padding-bottom: 5px;
}

.tall-bold {
    font-size: 18px;
    font-weight: 700;
}

.tallest {
    font-size: 36px;
}

.tall-extra {
    font-size: 48px;
}

.text-center {
    text-align: center;
}

/* Image de fond */
.background {
    display: none;
}

/* Menu Nav */
.menu-nav {
    display: flex;
}

.menu-nav li {
    position: relative;
    text-align: center;
    z-index: 1;
}

.menu-nav ul {
    background: var(--blue-light);
    border-radius: 5px;
    font-size: 16px;
    left: 130%;
    min-width: 100%;
    position: absolute;
    top: -200%;
    white-space: nowrap;
    z-index: 1;
}

.menu-nav ul li {
    color: var(--black);
    padding: 7px;
    text-align: initial;
}

.menu-nav .btn:last-child {
    display: none;
}

#triangle-down,
#triangle-left {
    user-select: none;
    cursor: pointer;
}

/* Menu Tri */
.menu-sort {
    display: flex;
}

.menu-sort .tall-bold {
    font-size: 14px;
}

/* Logo */
.logo {
    padding: 22px 0 13px 10px;
}

/* Containeur centré */
.container {
    left: 3%;
    margin: auto;
    position: absolute;
    top: 0;
    width: 80%;
    z-index: 1;
}

/* Boutons */
.btn {
    background-color: var(--blue);
    border-radius: 5px;
    font-weight: 700;
    flex-shrink: 0;
    padding: 13px;
    color: var(--white);
    margin: 10px 3px;
}

.btn-sort {
    padding: 8px;
}

.btn-sort:hover {
    color: var(--blue);
}

/* Détails jouets */
.toy-info {
    display: flex;
}

.toy-info div {
    padding: 13px;
}

.toy-info div .padding-left {
    padding-left: 26px;
}

/* Mozaique */
.mosaic {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 66px;
}

.mosaic > li {
    flex-basis: 220px;
    padding: 26px;
}

.mosaic > li a {
    display: block;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.mosaic > li div {
    padding: 2px;
}

.mosaic > li .grow-item {
    padding: 0;
}

@media ( min-width: 576px ) {
    h1 {
        font-size: 30px;
        line-height: 30px;
        padding-top: 41px;
    }

    .logo {
        padding: 22px 0 13px 10px;
    }

    .background {
        display: initial;
        position: relative;
        z-index: 1;
    }

    .background img {
        display: block;
        width: 100%;
    }

    .container {
        left: 25%;
        width: 50%;
    }

    .menu-nav {
        background-color: var(--blue);
        justify-content: initial;
    }

    .menu-nav .btn:first-child {
        border-left: none;
    }

    .menu-nav li {
        flex-grow: 1;
        position: relative;
        text-align: center;
        z-index: 1;
    }

    .menu-nav ul {
        border-radius: 0;
        font-size: 12px;
        left: 0;
        min-width: 100%;
        top: 100%;
    }

    .menu-nav ul li {
        padding: 10px 32px 10px 15px;
    }

    .menu-nav ul li:last-child {
        padding-bottom: 15px;
    }

    .btn {
        border-left: dashed;
        border-color: var(--white);
        border-radius: 0px;
        padding: 15px 13px;
        margin: 0;
    }

}

@media ( min-width: 768px ) {
    body {
        font-size: 14px;
    }

    .inner-text-style p:first-child {
        font-size: 16px;
    }

    .inner-text-style p:not(:first-child) {
        font-size: 16px;
        line-height: 24px;
    }

    .line-height-30 {
        line-height: 30px;
    }

    .tall-bold {
        font-size: 16px;
        font-weight: 700;
    }

    .tallest {
        font-size: 30px;
    }

    .menu-nav .btn:last-child {
        display: initial;
    }

    .menu-nav li {
        flex-grow: initial;
    }

    .menu-sort .tall-bold {
        font-size: 18px;
    }

}

@media ( min-width: 992px ) {

    .menu-nav .sub-menu:hover {
        background: var(--blue-light);
        color: var(--blue);
        border-left: none;
    }

    .menu-nav .sub-menu:hover ul {
        display: block;
    }

    /* Mozaique */
    .mosaic {
        flex-direction: row;
    }

}

@media ( min-width: 1200px ) {

}